<!-- <!doctype html>
<html>
<head>
    <title>Dream Board</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-cloud"></span> Dream Board</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row"> -->

        <!-- LOCAL INFORMATION
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div> -->

<!-- 
        <div class="col-sm-6">
          <h3>Messages</h3>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span><%= messages[i].name %></span>
              <span><%= messages[i].msg %></span>
              <span><%= messages[i].cloud %></span>
              <span> <i class="fa fa-cloud" aria-hidden="true"></i> </span>
              <span> <i class="fa fa-cloud" aria-hidden="true"></i> </span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Add a message</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html> -->


<!doctype html>
<html>
<head>
   <title>Mood Music 🎶</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="page-header text-center">
      <h1><span class="fa fa-music"></span> Mood Music 🎶</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Messages</h3>


<ul class="messages">
  <% for (var i = 0; i < messages.length; i++) { %>
    <li class="message">
      <span><%= messages[i].name %></span>
      <span><%= messages[i].msg %></span>

      <!-- Display number -->
      <span class="vote-count"><%= messages[i].votes || 0 %></span>

      <!-- Cloud = like -->
      <span class="like-btn">
        <i class="fa fa-music music" aria-hidden="true"></i>
      </span>

      <!-- Rain = dislike -->
      <span class="dislike-btn">
        <i class="fa fa-tint" aria-hidden="true"></i>
      </span>

      <!-- Trash -->
      <span class="trash-btn">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </span>
    </li>
  <% } %>
</ul>




        <!-- <ul class="messages">
          <% for (var i = 0; i < messages.length; i++) { %>
            <li class="message">
              <span><%= messages[i].name %></span>
              <span><%= messages[i].msg %></span>
              <span><%= messages[i].cloud %></span>

              Magic icon for "like" / upvote 
              <span><i class="fa fa-magic" aria-hidden="true"></i></span>

               Cloud icon for "dislike" / downvote 
              <span><i class="fa fa-cloud" aria-hidden="true"></i></span>

               Trash icon for delete
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
        </ul> -->

        <h2>Add a message</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form>
        <% } %>
      </div>
    </div>
  </div>

  <script src="main.js"></script>
</body>
</html>

